<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="Git-Windows-Minimal" version="2.14.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.0-alpha016" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.9.1" targetFramework="net452" />
</packages>